* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* =========================
   Global Font Setup Start
========================= */

body {
  font-family: "Rubik", "Helvetica", "Arial", sans-serif;
  font-size: 14px;           /* ডিফল্ট সাইজ */
  /* line-height: 1.5;          পড়তে সুবিধা হয় */
  color: #282828;
  background-color: #ffff;
}

/* =========================
   Global Font Setup End
========================= */



/* =========================
   Header Search Part Start
 ========================= */

select.form-select {
    width: 30%;
    
}
.form-select:focus{
  box-shadow: none !important;
}

.form-control:focus{
  border-color: none !important;
  box-shadow: none !important;
}
.border-search-bar{
    border: 1px solid #0098b8 !important;
}
.font-size-cart{
  font-size: 14px;
}

/* =========================
 Header Search Part End
========================= */


/* =========================
 Navbar Css Start
========================= */

ul.navbar-nav li a {
    font-size: 16px;
}

/* Nav Bar  */
.nav-main {
  background: #0098b8;
  font-size: 15px;
}

.nav-main .nav-link {
  color: #fff !important;
  padding: 15px;
  font-weight: 500;
}

.nav-main .dropdown:hover>.dropdown-menu {
  display: block;
  margin-top: 0;
  
}

.nav-main .dropdown-menu {
  border: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  border-radius: 0 !important;
}
.nav-main .dropdown-menu li:hover>a{
  background: #0A8A1D;
  color: #fff ;
}
.nav-main .dropdown-menu li{
  border-bottom: 1px solid #eee;
}
.nav-main .dropdown-menu li a{
  padding: 10px 15px;
}



.navbar-nav > li > a {
    padding: 10px 20px !important;
}
.navbar-nav > li > a:hover {
    /* background-color:#000 ; */
    /* background-color: #52DF65; */
    background-color: #0A8A1D;
}

/* =========================
 Navbar Css End
========================= */



/* =======================================
            Footer Css Start
========================================== */

/* Footer Background & Text */
.footer-bg-color {
  background-color: #1a1a1a;
  font-size: 15px;
  line-height: 1.7;
}


.bottom-menu ul li a {
  transition: color 0.3s; 
}

.bottom-menu ul li a:hover {
  color: #ff3c3c !important;
}

/* Contact Icons */
.contact-us p i {
  color: #ff3c3c;
  margin-right: 8px;
} 

/* Divider Line */
.footer-rul hr {
  border-top: 1px solid #444;
}

/* Social Icons */
.social-icon-hover .btn {
  background-color: #fff;
  color: #000;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 16px;
  transition: all 0.3s ease;
}

.social-icon-hover .btn:hover {
  background-color: #ff3c3c;
  color: #fff;
}


/* newsletter form css */
.newsletter-form button[type="submit"] {
  background-color: #ff3c3c;
  font-weight: 600;
}

.newsletter-form button[type="submit"]:hover {
  background-color: #cc0000;
}

/* Payment Icons */
.payment-icon img {
  margin: 5px;
  max-height: 30px;
}


/* ============================================
          Footer Css End
============================================= */



/*======================================
  Section-1 == Swiper Slider CSS Start 
 ========================================*/

.swiper {
      width: 100%;
      height: auto;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      /* background: #444; */
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;
    }
    .new-pro-img-height img{
      height: auto !important;
    }
/*======================================
  Section-1 == Swiper Slider CSS End 
 ========================================*/


 /*================================== 
  Slider button hover css  Start
  ===============================*/
.button-hover-prev:hover{
 background-color: #ff1e28;
 color: white !important;
}
.button-hover-prev, .button-hover-next{
  transition: all 0.4s ease;
  width: 34px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  background-color: white;
}
.button-hover-next:hover{
 background-color: #ff1e28;
 color: white !important;
}

.bg-color-slider-none{
  background: none;
}
/* .cat-name-hover>h6>a:hover{
  background-color: red;
  color: white !important;
} 
.cat-name-hover>h6>a{
  transition: all 0.3s ease;
  font-weight: 500;
} */

.bg-color-red{
  background-color: #ff1e28;
}

 /*================================== 
  Slider button hover css  End
  ===============================*/


/*==================================================
  Section-2 == Payment and Return Slider css Start
 ==================================================*/

.swiper-slide-icon {
    height: 75px;
    width: 75px;
    margin-right: 18px;
}

.swiper-slide-title {
    width: 170px;
    
}
.swiper-slide-title h5 a:hover {
    color: red !important;
}
.swiper-slide-title h5 a{
  transition: 0.3s ease;
}

.swiper-slide-icon {
  transition: border-color 0.3s ease; /* smooth transition */
}

.swiper-slide-icon:hover {
  border-color: #dc3545 !important; 
}
.figcaption-title{
  font-size: 14px;
}

/*==================================================
  Section-2 == Payment and Return Slider css End
 ==================================================*/

/*==================================================
  Section-3 == Shop by Categories Slider css Start
 ==================================================*/
 
.shop-cat-hover:hover img {
    transform: scale(1.1);
}

.shop-cat-hover a img{
  transition: 0.3s ease;
}

.shop-cat-hover:hover {
    border: 2px solid #0098b8;
    background:white!important;
}
.shop-cat-hover{
  transition: 0.3s ease;
}

/*==================================================
  Section-3 == Shop by Categories Slider css End
 ==================================================*/